@CHARSET "UTF-8";

#header {
	background: #1c262f;
}

#header .inner {
	overflow: hidden;
	padding: 8px 0px 10px 0;
}

#header .inner h1 {
	float: left;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	font-size: 2rem;
}

#header .inner ul {
	float: left;
	font-family: 'Droid Sans', sans-serif;
	font-size: 8px;
	font-size: 0.8rem;
	margin: 20px 0 10px 20px;
}

#header .inner ul li {
	float: left;
	margin-right: 20px;
}

#header .inner ul li a {
	color: #ffffff;
	text-decoration: none;
}

#change {
	background: #f66f6f;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	display: none;
	z-index: 9999;
	padding: 8px 0 10px 0px;
}

#change h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
	font-size: 2rem;
	float: left;
	font-weight: bold;
	color: #1c262f;
}

#change ul {
	float: left;
	font-family: 'Droid Sans', sans-serif;
	font-size: 8px;
	font-size: 0.8rem;
	margin: 20px 0 10px 20px;
}

#change ul li {
	float: left;
	margin-right: 20px;
}

#change ul li a {
	color: #1c262f;
	text-decoration: none;
}